<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign  UP Form </title>
</head>
<body>
<p> Hi ! Welcome to the sign up page </p>
<p> Today is {{ day_of_week }}</p> 
<p> Today is {{ current_time }}</p> 


</body>

<style>
    body {
        background-color: aquamarine;
    }
    p {
        text-align: center;
        font-size:30px;
        font-family: Arial, Helvetica, sans-serif;
        color: black;

    }
</style>
</html>
